$main-ff: monospace;
$global-line-heihgt: 1.7em;
$container-max-width: 1024px;

$clr-default: #fff;
$clr-basic-grey: #ddd;
$clr-dark-grey: #333;
$clr-hover: rgba(0, 0, 0, 0.6);
$clr-main: burlywood;

$main-transition: ease-in-out 250ms;