@import 'variables';
@import 'reset';
@import 'utils';

.accordion {
  background-color: $clr-basic-grey;
  
  &__item {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
  }

  &__item__title {
    min-width: 100%;
    transition: background-color $main-transition;
    padding: 1em;
    border-bottom: 1px solid $clr-dark-grey;
    position: relative;

    &::after {
      content: "+";
      position: absolute;
      top: 50%;
      right: 2%;
      transform: translateY(-50%);
      background-color: $clr-hover;
      color: $clr-default;
      padding: .5em;
      min-width: 25px;
      min-height: 34px;
      text-align: center;
    }

    &.active::after {
      content: "-";
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  }

  &__item__content {
    flex-basis: 100%;
    overflow: hidden;
    transition: max-height $main-transition;
    max-height: 0;
    background-color: $clr-main;
    text-align: justify;
    
    & > p {
      padding: 2em;
    }
  }
}
